/* luckiest-guy-regular - latin */
@font-face {
	font-family: 'Luckiest Guy';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/luckiest-guy-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'),
		 url('../fonts/luckiest-guy-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/luckiest-guy-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/luckiest-guy-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/luckiest-guy-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/luckiest-guy-v10-latin-regular.svg#LuckiestGuy') format('svg'); /* Legacy iOS */
	font-display: swap;
}  