.mist-inline-nav li {
	display: inline;
	margin-left: 15px;
}
.m-rot90 {
	position: absolute;
	transform-origin: 0 0;
	transform: rotate(42deg);
}
.moretag {
	color: #336699;
}

.moretag:hover {
	color: #5276a5; 
}

.wp-block-image {
	margin-top: 18px;
	border: 1px solid #336699;
	border-bottom: none;
}

.wp-block-image figcaption {
	font-size: 22px;
	background: #336699;
	color: #fff;
	border-top: 3px dashed #709fdd;
	margin: 0;
	padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Luckiest Guy';
	font-style: normal;
	font-weight: 400;
	color: #336699;
	padding: 9px 0px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}
