.mist-inline-nav li {
	display: inline;
	margin-left: 15px;
}
.m-rot90 {
	position: absolute;
	transform-origin: 0 0;
	transform: rotate(42deg);
}
.moretag {
	color: #336699;
}

.moretag:hover {
	color: #5276a5; 
}